<% if (locals.message) { 
    if(message.type === 'error'){ %>
        <div class="alert alert-danger text-center" role="alert">
            <%=message.text%>
        </div>
<%}
    if(message.type === 'info'){ %>
        <p style="color: green"><%=message.text%></p>
    <%}
}%>